.layout {
  display: flex;
  height: 100vh;
  background-color: #f9fafb;
}

.layout-content {
  flex: 1;
  overflow-y: auto;
  padding: 2rem;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .layout-content {
    padding: 1rem;
  }
}
